@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0D0D0D;
}

body {
  font-family: Montserrat;
}

.image-background {
  background-image: url('./../assets/background.png');
  background-size: cover;
  background-position: center;
  
  width: 100%;
  min-height: 100vh;
}

.header {
  grid-template-columns: 1fr 2fr 1fr;
}

.meta-mask-button {
  width: 14.375rem;
  height: 3.125rem;
}

.w-320 {
  width: 80rem;
}

.px-auto {
  padding-inline: auto;
}

.main {
  grid-template-columns: 1fr 37.25rem 1fr;
}

.main-text {
  line-height: 3.8125rem;
  font-size: 3.125rem;
}

.logo-color {
  color: var(--color-logo);
}