@tailwind base;
@tailwind components;
@tailwind utilities;

.image-background {
  background-image: url('./../assets/background.png');
  background-size: cover;
  background-position: center;
  
  width: 100%;
  min-height: 100vh;
}