@tailwind base;
@tailwind components;
@tailwind utilities;

.w-320 {
  width: 80rem;
}

.pr-68 {
  padding-right: 17rem;
}

.max-w-8xl {
  max-width: 90rem;
}

.px-auto {
  padding-inline: auto;
}

.main-text {
  line-height: 3.5rem;
  font-size: 3rem;
}

.artist-card {
  margin-inline: auto;
}

.neutral-line {
  width: 92svw;
}

.middle-footer {
  grid-template-columns: 1fr 2fr;
}

.footer-social-media-logo:hover path,
.footer-social-media-logo:focus path {
  stroke: white;

  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

@media (min-width: 420px) {
  .artist-card {
    width: 21.875rem;
    height: 9.375rem;
  }
}

@media (min-width: 768px) {
  .main, header, section > div, footer > div {
    width: 46rem;
  }

  .neutral-line {
    width: 46rem;
  }

  .artist-card:nth-child(2n) {
    margin-left: auto;
  }
}

@media (min-width: 824px) {
  .main, header, section > div, footer > div {
    width: 48rem;
  }

  .main {
    grid-template-columns: 2fr 2fr 1fr;
  }

  .neutral-line {
    width: 48rem;
  }
}

@media (min-width: 1024px) {
  .main, header, section > div, footer > div {
    width: 56rem;
  }

  .main {
    grid-template-columns: 2fr 2fr 1fr;
  }

  .main-text {
    line-height: 2.75rem;
    font-size: 2.25rem;
  }

  .info-section {
    grid-template-columns: 17.5625rem 1fr;
  }

  .neutral-line {
    height: 44.5rem;
  }
}

@media (min-width: 1140px) {
  .main, header, section > div, footer > div {
    width: 64rem;
  }

  .main-text {
    line-height: 3.25rem;
    font-size: 2.5rem;
  }
}

@media (min-width: 1250px) {
  .main, header, section > div, footer > div {
    width: 75rem;
  }

  .main-text {
    line-height: 4.25rem;
    font-size: 2.75rem;
  }
}

@media (min-width: 1380px) {
  .main, header, section > div, footer > div {
    width: 82.75rem;
  }

  .main {
    grid-template-columns: 2fr 3fr 1fr;
  }
}